* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

nav {
  background-color: #1f2937;
  color: white;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  font-size: 22px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 12px;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  background-color: #374151;
  color: #60a5fa;
  transform: translateY(-2px);
}




h1 {
  margin: 30px 0 20px;
  color: #1f2937;
}

h2 {
  margin: 25px 0 15px;
  color: #374151;
}


form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

input {
  padding: 10px 12px;
  margin: 5px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #2563eb;
}


button {
  padding: 9px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #1d4ed8;
}

button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}


table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

th {
  background-color: #1f2937;
  color: white;
  padding: 14px;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
}

tr:hover {
  background-color: #f9fafb;
}


p {
  margin: 15px 0;
}

@media (max-width: 768px) {
  nav {
    padding: 15px;
    flex-direction: column;
    gap: 10px;
  }

  table {
    font-size: 13px;
  }

  input {
    width: 100%;
    margin: 5px 0;
  }
}


.borrow-modal {
  position: fixed;
  inset: 0;
  width: 100%;
  max-width: none;
  margin: 0;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.borrow-modal-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}